html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
}

#root {
  width: 100%;
  height: 100%;
}
.App {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.piano, .scales {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
  position: relative;
}

.scales {
  background-color: transparent;
}

.key:first-child {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.key:last-child {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.key {
  display: inline-block;
  height: 300px;
  width: 75px;
}

.key[data-category="black"] {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  height: 175px;
}

.key__btn {
  height: 100%;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.key__btn--selected {
  border: 1px solid orange;
}

.key__btn--black {
  background-color: black;
  color: whitesmoke;
  position: relative;
  width: 80%;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
}

.key__btn--white {
  background-color: whitesmoke;
  color: black;
}

[data-category="white"] {
  border-left: 1px solid black;
}

.scale-btn {
  border-radius: 10%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #222222;
  color: whitesmoke;
}

.scale-btn--excluded {
  opacity: 0.33;
}
