.App {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.App h2 {
  margin-bottom: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.piano-container {
  margin-bottom: 3rem;
}

.scales-container {
  margin-bottom: 2rem;
}