html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
}

.App {
  text-align: center;
}

.piano, .scales {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  list-style: none;
}

.scales {
  background-color: transparent;
}

.key:first-child {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.key:last-child {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.key {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.key--selected {
  border: 1px solid orange;
}

.key--black {
  background-color: black;
  color: whitesmoke;
}

.key--white {
  background-color: whitesmoke;
  color: black;
}

[data-category="key--white"] + [data-category="key--white"] {
  border-left: 1px solid black;
}

.scale-btn {
  border-radius: 10%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #222222;
  color: whitesmoke;
}

.scale-btn--excluded {
  opacity: 0.33;
}
